main{
    display: flex;

    padding-top: 5em;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
}

.flashcards{
    background-color: #FAFFF0;
    
    height: 25em;
    width: 40em;

    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
    flex-direction: column;
}